<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393328283698-842bf04numlhqa64glfpntj5tej41qc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393328283698-842bf04numlhqa64glfpntj5tej41qc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDGCIiRpHZ_LxLFwZdqleBCpLfBB8Tjjgo</string>
	<key>GCM_SENDER_ID</key>
	<string>393328283698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gametracker.pokerTracker</string>
	<key>PROJECT_ID</key>
	<string>gametracker-a834b</string>
	<key>STORAGE_BUCKET</key>
	<string>gametracker-a834b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393328283698:ios:3ca176e0b3083b211f6c2b</string>
</dict>
</plist>